body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #b9b9b9;
    text-align: center;
}
.Nom{
    float: left;
    margin: 3px;
    list-style-type: none;
}
h1{
    margin-right: 14%;
    
}
header{
    padding: 30px;
    border-bottom: 2px solid #ccc;
    margin: 0;
}
